# 네이버 아이디 (필수)
NAVER_ID=your_naver_id

# 네이버 비밀번호 (옵션: 로컬 수동 로그인용)
NAVER_PW=your_naver_pw

# 깃허브 액션(서버) 환경에서 캡차 우회를 위한 쿠키 (필수)
# 크롬 개발자도구(F12) -> Application -> Cookies 에서 확인 가능
NID_AUT=your_nid_aut_cookie
NID_SES=your_nid_ses_cookie
